.navbar {
    background-color: var(--color-primary);
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .appBar {
    background-color: var(--color-primary);
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuButton {
    display: none; /* Hidden by default, visible on mobile */
  }
  
  .logoLink {
    display: flex;
    align-items: center;
    textDecoration: none;
  }
  
  .searchWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .feedbackButton {
    background-color: var(--color-secondary);
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 16px;
    text-transform: none; /* Optional: to keep text in regular case */
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .menuButton {
      display: block;
    }
  
    .feedbackButton {
      display: none; /* Hide feedback button on mobile */
    }
  }
  